.buscador {
    margin: 20px 290px 25px;
    width: 30%;
    height: 40px;
    border: solid #0cb093 2px;
    border-radius: 24px;
    text-align: center;
    font-weight: bolder;
}

.productoInd {
    display: flex;
    border: 2px solid black;
    border-radius: 12px;
    width: 95%;
    height: 70px;
    padding: 2%;
    margin: 22px 1px 5px 5px;
}

.productoInd-BgColorDark {
    display: flex;
    border: 2px solid white;
    border-radius: 12px;
    width: 95%;
    height: 70px;
    padding: 2%;
    margin: 22px 1px 5px 5px;
    color: #fff;
}

.productText {
    margin-left: 2%;
    width: 90%;
    color: #fff;
}

.chevronFlecha {
    margin-right: 10%;
    margin-left: 10%;
    align-self: flex-end;
    justify-self: flex-end;
}

p {
    color: rgb(0, 0, 0);
}

.red {
    color: red;
}

.parrafo {
    color: red;
    text-decoration: none;
}

.item>.productText>.parrafo--BgColorDark {
    color: black;
}

.item {
    color: white;
}

.item>.productText {
    color: white;
}