@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}

header{
  padding: 30px;
  background: #011601;
  height: 30px;
}

.sidenav{
  width: 15%;
  background: #011601;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -250px;
  transition: all 0.5s;
}

.sidenav.active{
  left: 0;
}

ul{
  padding: 0;
}

ul li {
list-style-type: none;
margin: 10px 0;
}

ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 16px;
  display:block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul li a.active{
  background: #172b4d;
}

header svg{
  font-size: 40px;
}

.mainsote{
  display: flex;
}