header {
  display: none;
}
.headerv1 {
  display: flex;
}
.inpBuscador {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1024px) {
  header {
    display: flex;
    color: #0cb093;
    align-items: center;
  }
}
.BotonBusqueda {
  display: none;
}
