header {
  display: none;
}
.headerv1 {
  display: flex;
  background-color: #fff; 
  color: #000;
}
.inpBuscador {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
article{
  display: none;
}

@media (max-width: 1024px) {
  header { 
    display: flex;
    color: black;
    align-items: center;
    margin: 10px;
  }
  article{
    display: contents;
  }
}
.BotonBusqueda {
  display: none;
  align-items: center;
  border-radius: 15px;
}

header svg {
  font-size: 40px;
}